
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
/**/
body {
  height: 100%;
}
/**/
@media only screen {
  @media (max-width: 600px) {
    #map {
      display: none;
    }

    #mapAlt {
      display: block;
    }

    #calendar {
      display: none;
    }

    #calendarAlt {
      display: block;
    }
  }

  @media (max-width: 800px) {
    #homeImage {
      display: none;
    }
  }
}

@media only screen and (min-width: 601px) {
  #mapAlt {
    display: none;
  }
}


hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: black;
  background-image: linear-gradient(to right, #ccc, #000, #ccc);
}
@media only screen and (min-width: 431px) {
  main {
    margin-top: 160px;
  }
}
@media only screen and (max-width:430px) {
  main{
    margin-top: 203px;
  }
}